streamlit
numpy
pandas
scikit-learn
nltk
PyPDF2
sentence-transformers
spacy
torch
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz